html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
  }
  
  body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
    background-color: #6091C3;
  }
  .header {
    margin-bottom: 15px;
    display: flex;
    background-color: rgba(18, 111, 187, 0.5);
    color: rgb(255, 170, 91);
    flex-flow: row wrap;
    text-align: left;
    vertical-align: center;
  }
  .header img{
      text-align: right;
  }
  
  .wrapper {
    text-align:center;
    flex-flow: wrap;
    flex-wrap: wrap;
    max-width: 960px;
  }
  .wrapper .us{
    display: block;
    max-width: 33%;
}
.wrapper .roles{
    max-width: 66%;
}
@media only screen and (max-width: 1000px) {
  .wrapper .us{
    margin-bottom: 10px;
    text-align:center;
    flex-direction: column;
  }
  }