html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
  }
  
  body {
    background-color: rgb(255, 144, 249);
    width: 70%;
    margin: 0 auto;
    background-color: #6091C3;
  }
  .header {
    display: flex;
    background-color: rgba(18, 111, 187, 0.5);
    font-family: 'Comfortaa', cursive;
    color: rgb(255, 209, 166);
    flex: 0 1 auto;
    flex-flow: row wrap;
    text-align: left;
    vertical-align: center;
    justify-content: space-evenly;
  }
  .header img{
    display: inline;
    align-items: right;
    max-width: 100px;
  }
  
  .wrapper {
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    color:  rgb(0, 65, 102);
    align-items:center;
    flex-flow: wrap;
    flex-wrap: wrap;
    
  }
  h2{
    font-family: 'Comfortaa', cursive;
    color:  rgb(22, 5, 21);
  }

  .wrapper .us{
    display: block;
    max-width: 33%;
}
.wrapper p{
  background-color: rgb(255, 253, 144);
}
.wrapper img{
  max-width: 100px;
  border-radius: 4px;
  border: 1px solid white;
}
.wrapper .roles{
  background-color: rgb(255, 253, 144);
  max-width: 960px;
  max-width: 66%;
}
@media only screen and (max-width: 1000px) {
  .wrapper .us{
    margin-bottom: 15px;
    text-align:center;
    flex-direction: row;
    justify-content: space-evenly;
  }
  }